body {
  background: #f3f3f3a4;
}

.mobile {
  display: none;
}

.carousel {
  height: 540px;
}

.container-fluid.c {
  position: relative;
}

.carousel-indicators {
  position: relative;
}

.carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.img.mobile {
  width: 100%;
}

.cards {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.cards .col {
  width: 296px;
}

.cards .card {
  border: 0;
  width: 272px;
  margin-bottom: 20px;
}

.cards .card .card-img {
  position: relative;
  width: 270px;
  height: 276px;
}

.cards .card .card-img .card-img-top {
  height: 276px;
}

.cards .card .card-text {
  height: 40px;
}

.cards .card .fav {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
}

.cards .card .price {
  color: #ed008c;
  font-size: 20px;
  font-weight: 400;
}

.cards .card:hover {
  -webkit-box-shadow: 2px 10px 20px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 10px 20px 5px rgba(0, 0, 0, 0.08);
}

.cards::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.cardheader {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardheader h6 {
  font-size: 24px;
}

.cardheader a {
  text-decoration: none;
  color: #1d2123;
}

.extra {
  margin: 50px auto 70px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra img {
  width: 100%;
}

.cardcontainer {
  width: 100%;
}

.signin {
  text-align: center;
  background-color: #F0F0F0;
  padding-bottom: 56px;
}

.signin p {
  padding: 30px 0;
}

.signin .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.signin input {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  width: 384px;
  height: 48px;
  margin-right: 8px;
}

.signin button {
  background: #1d2123;
  border-radius: 8px;
  height: 48px;
  width: 128px;
}

@media (max-width: 768px) {
  .mobile > div {
    display: inline-block;
    margin-right: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .status::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
  .container {
    padding: 0;
  }
  #carouselExampleIndicators {
    height: 200px;
  }
  .card {
    width: 216px;
  }
  .card .card-img {
    width: 215px;
    height: 218px;
  }
  .card .card-img .card-img-top {
    height: 218px;
  }
  .card .card-text {
    height: 40px;
  }
  .cardheader a {
    display: none;
  }
  .logos {
    display: none !important;
  }
  .email input {
    width: 250px;
  }
  .extra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .extra img {
    margin-bottom: 24px;
  }
}

.owl-nav {
  display: none;
}
/*# sourceMappingURL=homepage.css.map */