//qeydiyyat ucun
$searching: #F6F6F8;
$body: #FAF9F9;
$nav-color: #1D2123;
$p: #828282;
$facebook: #3B5797;
$google: #DD4D39;
$input: #F2F2F2;
$signin: #E0E0E0;
$footer: #131515;

$dark-2:#4F4F4F;
$primary-pink: #ed008c;
$primary-gray:#E5E5E5;
$gray-1:#333333;
$gray-2:#4F4F4F;
$gray-4:#BDBDBD;
$orange:#F2994A;
$blue:#2D9CDB;
$green:#6FCF97;
$red:#EB5757;


// Font Style
$font-Euclid-Circular-A: Euclid Circular A, sans-serif;
$font-SF-Pro-Text: SF-Pro-Text, sans-serif;
